body{
    background-color: #f9f7fe;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
   font-weight: 500; 
   font-size: 38px;
   line-height: 1.5;
   color: #272044;
   
}



header{
    margin-bottom: 30px;
}
form{
    
    display: flex;
    

}
.generator{
    margin: 120px auto;
    max-width: 600px;
}
.instructions{
    padding: 16px;
    border: 1px solid  rgb(39, 33, 66, 0.5);
    width: 80%;
    font-size:16px ;
    border-radius: 50px;
    line-height:20px ;
    color: #272044;
}
.button-press{
    margin-left:10px ;
    background-color: #885df1;
    color: white;
    border: none;
    width: 150px;
    border-radius:50px ;
    padding:14px 24px;

}
.poems{
    font-size: 18px;
    background-color: white;
    padding:20px;
    line-height: 2;
    border-left: 3px solid #885df1;
    box-shadow: 0px 4px 30px rgb( 39, 33, 66, 0,03);
    border-radius: 16px;
    

}
.poem strong{
    color:#885df1;
}
footer{
   text-align: center; 
   font-size: 13px;
   margin-top: 30px;
}
a{
    color: #885df1;
}
.hidden{ 
    display:none
}
.form-container{
    padding:20px 15px;
    background-color: white;
    border-radius: 10px;margin-bottom: 30px ;
    box-shadow: 0px 20px 60px rgb( 65, 50, 100, 0,08);

}
.hint{
    line-height: 1.5;
    font-size:12px ;
    margin-top: 5px;
    opacity:0.6 ;

}
.generating{
    animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
